{% extends "base.html" %} 
{% block title %}{{ pokemon | capfirst }}{% endblock title %} 
{% block content %}
<p>Has elegido el pokemon: <strong>{{ pokemon | capfirst }}</strong></p>
<h3>Detalles de Pokemon</h3>
<ul>
  <li>Nombre: {{ pokemon.name}}</li>
  <li>Tipo: {{ pokemon.get_tipo_display}}</li>
  <li>Peso: {{ pokemon.weight}} Kg</li>
  <li>Altura: {{ pokemon.height}} cm.</li>
  <li>Entrenador: {{ pokemon.entrenador}}</li>
</ul>

<img 
    src="{{ pokemon.picture.url }}"
    class="card-img-top mt-3"
    alt="{{ pokemon.name }}"
    style="max-width: 250px;"
/>
{% endblock content %}
